.bg-brick {
    @apply bg-white-brick;
    filter: brightness(112%);
}

.bg-circle {
    @apply bg-red-circles;
    filter: saturate(0%);
}

.bg-red-circle {
    @apply bg-red-circles;
    filter: brightness(50%);
}

.glass-custom {
    @apply backdrop-filter backdrop-blur-sm;
}